@charset "UTF-8";
head, body{
	width:100%;
	height:100%;
}
.myhead {
	display:block;
	margin: 0;
	width: 100%;
	height: 150px;
	background-color: black;
}

.mymiddle {
	display: inline-block;
	height: 500px;
	position:relative;
	width:100%;
}

.mycontent {
	display: inline-block;
	position: absolute;
	left: 10%;
	height: 100%;
	background-color: green;
	width: 100%;
}

.myleft {
	display: inline-block;
	margin: 0;
	width: 10%;
	height: 500px;
	background-color: red;
}

.myright {
	display: inline-block;
	margin: 0;
	width: 10%;
	height: 100%;
	width: 10%;
}
.container_main{
	width:100%;
	height:800px;
	background-color:black;
	padding:50px;
	display:inline-block;
}
.column_left{
	float:left;
	width:70%;
	height: 500px;
	background-color:green;
}
.column_right{
	float:right;
	width:30%;
	height: 500px;
	background-color:red;
}
.column_rightTop{
	position:relative;
	height:50%;
}
.loginBox{
	display:block;
	padding:5px;
	position:absolute;
	width:90%;
	height:90%;
	background-color:blue;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.section_navbar{
	margin:auto;
	height:30px;
	width:90%;
	background-color:beige;
}
.goHomeLogo{
	width:130px;
	height:130px;
	display:inline-block;
	border-width:2px;
	border-color:black;
	border-style:groove;
	margin:10px;
}
.headLogo{
	margin:auto;
	background-color:yellow;
	width:85%;
	height:130px;
	position:relative;
	float:right;
	right:15px;
	display:inline-block;
	transform:translate(10px,10px);
}
.header{
	width:100%;
	height:220px;
}
