@charset "UTF-8";
.head {
	margin: 0;
	width: 100%;
	height: 20%;
	background-color: black;
}

.middle {
	position: relative;
}

.content {
	display: inline-block;
	position: absolute; 
	left:10%;
	height: 100%;
	overflow: hidden;
	background-color: green;
	width: 100%;
}

.left {
	display: inline-block;
	margin: 0;
	width: 10%;
	height: 100%;
	background-color: red;
}

.right {
	display: inline-block;
	margin: 0;
	width: 10%;
	height: 100%;
	width: 10%;
}