<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.sp.ex.mapper.GoogleMapper">

	<select id="getAccountInfo" resultType="com.sp.ex.dto.GoogleAccountDTO">
		select * from google_token where user_id = #{userID}
	</select>
  </mapper>